* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #23272e;
    --secondary-color: #24428055;
    --primary-blue: #1c4ce4;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    background: var(--secondary-color);
}
  

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--secondary-color);
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgba(24, 30, 207, 0.396);
}

body {
    background-color: var(--primary-color);
    font-family: 'Prompt', sans-serif;
}

.wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 20px);
    height: 50px;
}

header {
    width: 100%;
    height: 100%;
    background-color: #1c4ce4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px 5px 0 0;
}

header > p {
    margin: 10px;
    padding: 3px 6px;
    border-radius: 5px;
    cursor: pointer;
    background-color: whitesmoke;
}

header > p > a {
    text-decoration: none;
    color: #096af2;
    font-weight: 500;
}

header > .level-bar {
    position: fixed;
    height: 50px;
    width: 0;
    border-radius: 5px 5px 0 0;
    transition: 0.5s;
    background-color: rgba(253, 253, 253, 0.196);
    z-index: -1;
}

header > .box {
    width: auto;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header > .box > button {
    background-color: transparent;
    border: none;
    margin: 5px;
    cursor: pointer;
    white-space: nowrap;
}

header > .box > button > i {
    color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 11px 12px;
    background-color: #2454f3;
}

header > .box > button > i:hover {
    background-color: rgb(103, 103, 249);
}

.window {
    height: 100%;
    width: 100%;
    display: flex;
}

.window > .content {
    width: 100%;
    height: 100%;
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    z-index: 0;
}

.window > .sidebar {
    width: 150px;
    height: 100%;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1e2227;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
}

.window > .sidebar > .item {
    width: calc(100% - 20px);
    height: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    padding: 8px;
    cursor: pointer;
    background-color: rgba(39, 39, 44, 0.663);
}

.window > .sidebar > .item:hover {
    background-color: rgba(39, 39, 44, 0.663)
}

.window > .sidebar > .item > img {
    width: 15px;
    height: 15px;
}

.window > .sidebar > .item > i {
    font-size: 10px;
    color: var(--primary-blue);
}


.window > .sidebar > .item > input[type="text"] {
    width: calc(100% - 20px);
    height: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 12px;
    padding: 0px 1px;
    border-radius: 5px;
    margin-left: 3px;
    outline: none;
    text-align: left;
    cursor: text;
    text-overflow: ellipsis;
    font-family: 'Prompt', sans-serif;
}

.container {
    width: 100%;
    height: calc(100% - 118px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    position: fixed;
}

.container > .bottombar {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.container > .bottombar > .box {
    width: 100%;
    height: 100%;
    background-color: #1c4ce4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 5px 5px;
    margin: 10px;
}

.container > .bottombar > .box > .left-group {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2px;
}

.container > .bottombar > .box > .right-group {
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2px;
}

.group-text-item {
    margin: 1px;
    font-size: 11px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #4972fa;
    align-items: center;
    cursor: pointer;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.group-text-item > i {
    margin-right: 3px;
    color: white;
}


@media screen and (max-width: 600px) {

    ::-webkit-scrollbar {
        display: none;
    }

    .container {
        width: calc(100% - 40px);
        height: calc(100% - 90px);
    }

    .window {
        flex-direction: column;
        justify-content: center;
    }

    .window > .content {
        margin-left: 10px;
    }

    .window > .sidebar {
        margin-top: 10px;
        margin-bottom: -10px;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        overflow-y: hidden;
        overflow-x: auto;
    }

    .window > .sidebar > .item {
        width: 100px;
        min-width: 70px;
        height: 15px;
        margin: 5px;
        padding: 8px;
    }

    .container > .bottombar {
        left: 0;
        width: 100%;
        height: 20px;
        margin-bottom: 15px;
        position: fixed;
        align-items: center;
        justify-content: center;
    }

    .container > .bottombar > .box {
        padding: 5px;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
    }

}

.ace_mobile-menu {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.722);
}

.modal > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: var(--secondary-color);
    overflow: hidden;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

.toast {
    margin-top: 60px;
    margin-right: 10px;
    margin-left: auto;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    width: 250px;
    max-width: 400px;
    height: 35px;
    overflow: hidden;
    background-color: #c32c59;
    animation: popup 0.5s;
}

.toast > p {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    color: whitesmoke;
    transition: 0.5s;
}